@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    padding: 25px;
    margin: 0px;
    background-color: #c48bc1;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;}
#navbar ul{
 display: flex;
 flex-direction: row;
 justify-content: center;
 
}


#navbar li{
     list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color:darkmagenta
}
#navbar li a:hover{
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color:white;
}
#introsection{
 background-color: aliceblue;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 align-items: center;
 vertical-align: middle;
 height: 574px;
 background: center/cover no-repeat url("/static/bg.jpg") ;
 /* background: url(../static/bg.jpg) center no-repeat ; */
 /* background-size:  1518px 574px; */
 color: rgb(212, 145, 229);
 font-size: 40px;
 font-family: 'Roboto', sans-serif;
 ;
}
.intro{
    padding: 3px;
    margin: 3px;
    
}
#mission{
   background-color: #d8cfd8; 
   height: 530px;
   /* display: flex; */
   
}
.container{
    display: flex;
}
.card h3{
    text-align: center;
}
#mission h2{
 text-align: center;
 justify-content: center;
 vertical-align: middle;
 font-size: 50px;
}
#logo img{
    width: 135px;
    margin: 0px;
    padding: -16px;
    height: 58px;
    padding-left: 16px;
    margin-top: -15px;
}
.card-box img{
    height: 123px;
    margin: -10px;
    padding: 46px;
    
}
.content p{
    display: block;
    align-items: center;
    /* margin: 11px;
    padding: 0px; */
    text-align: center;
    font-size: 17px;
    /* margin-left: 43px; */

}
.card-box{
    display: flex;
    /* height: 40px;
    width: 30px; */
    justify-content: center;
}
.card
{
    border: black 2px solid;
    border-radius: 9px;
    margin: 46px;
    padding: 31px;
    height: 267px;
    width: 365px;
    background-color: antiquewhite;
}
#sponsors{
 background-color: blanchedalmond;
 height: 500px;
 
}
#sponsor h2{
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 50px;
   }
#sponsors img{
    height: 86px;
    padding: 16px;
    margin: 53px;
    width: 86px;
}
#sponsors h2{
    padding:30px;
    text-align: center;
    /* vertical-align: middle; */
    font-size: 30px;
}
#footer{
    height: 50px;
    color:aliceblue;
    background-color: black;
    align-content: center;
    justify-content: center;
    align-content: center;
}
#footer p{
    padding: 33px 700px;
}